<div class="auth-container">
  <form class="auth-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <h2>Esqueceu sua senha?</h2>
    <p class="instructions">
      Não se preocupe. Insira seu e-mail abaixo e enviaremos um link para você redefinir sua senha.
    </p>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput id="email" type="email" formControlName="email" placeholder="seu@email.com">
      <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email é obrigatório.</mat-error>
      <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Formato de email inválido.</mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar Link de Redefinição</button>

    <div class="links"><a routerLink="/login">Voltar para o Login</a></div>
  </form>
</div>
