<div class="auth-container">
  <div class="auth-form" [class.success-state]="isSubmitted">
    <ng-container *ngIf="!isSubmitted; else successTemplate">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <h2>Esqueceu sua senha?</h2>
        <p class="instructions">
          Não se preocupe. Insira seu e-mail abaixo e enviaremos um link para você redefinir sua senha.
        </p>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput id="email" type="email" formControlName="email" placeholder="seu@email.com">
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email é obrigatório.</mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Formato de email inválido.</mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="forgotPasswordForm.invalid" data-dd-action-name="Enviou Link de Redefinição">Enviar Link de Redefinição</button>

        <div class="links"><a routerLink="/login" data-dd-action-name="Voltou para Login (Esqueci Senha)">Voltar para o Login</a></div>
      </form>
    </ng-container>

    <ng-template #successTemplate>
      <h2>Link Enviado!</h2>
      <p class="instructions">Um e-mail de redefinição de senha foi enviado para <strong>{{ forgotPasswordForm.get('email')?.value }}</strong>. Por favor, verifique sua caixa de entrada e siga as instruções.</p>
      <button routerLink="/login" data-dd-action-name="Navegou para Login (Sucesso Redefinição)">Voltar para o Login</button>
    </ng-template>
  </div>
</div>
