<div class="auth-container">
  <div class="auth-form" [class.success-state]="isSubmitted">
    <ng-container *ngIf="!isSubmitted; else successTemplate">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
        <h2>Crie sua Senha</h2>
        <p class="instructions">Etapa 4 de 4: Crie uma senha segura para sua conta.</p>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput id="password" type="password" formControlName="password" placeholder="Crie uma senha forte">
          <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">Senha é obrigatória.</mat-error>
          <mat-error *ngIf="passwordForm.get('password')?.hasError('pattern')">
            A senha deve ter no mínimo 8 caracteres, incluindo maiúscula, minúscula, número e caractere especial (@$!%*?&).
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirmar Senha</mat-label>
          <input matInput id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Repita a senha">
          <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">A confirmação da senha é obrigatória.</mat-error>
          <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('passwordMismatch')">As senhas não coincidem.</mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="passwordForm.invalid" data-dd-action-name="Finalizou Cadastro">Finalizar Cadastro</button>

        <div class="links">
          <a routerLink="/register/terms" data-dd-action-name="Voltou para Termos (da Senha)">Voltar para a etapa anterior</a>
        </div>
      </form>
    </ng-container>

    <ng-template #successTemplate>
      <h2>Quase lá!</h2>
      <div class="user-summary">
        <p><strong>Nome:</strong> {{ registrationData.fullName }}</p>
        <p><strong>Email:</strong> {{ registrationData.email }}</p>
      </div>
      <p class="instructions">
        Um e-mail de confirmação foi enviado com sucesso!
        Abra-o para validar seu cadastro e comece a aproveitar os descontos para clientes VIP's.
      </p>
      <button routerLink="/login" data-dd-action-name="Navegou para Login (Sucesso Cadastro)">Voltar para o Login</button>
    </ng-template>
  </div>
</div>
